/*Header*/ 
.header{
	border-bottom: 1px solid var(--border-color);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: background-color .3s, transform .3s;
	z-index: 7;
	.btn-group{
		.btn{
			margin-left: 3em;
		}
	}
}
.header__main{
	width: calc(80% - 3px);
	padding: 1.25em 0;
}
.logo{
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(20% + 3px);
	border-right: 1px solid var(--border-color-light);
}
.logo__dark{
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s;
}
.work-time{
	line-height: 1.3;
	a, span{
		display: block;
	}
	span{
		font-size: .875em;
	}
}
.address{
	width: 40%;
	justify-content: center;	
}

